{% extends "base.html" %}
{% block content %}
<style>
td {
	border: solid 1px #e5e5e5;
}
div {
	text-align: center;
}
p {
	text-align: right;
}
#logmem {
	border: hidden;
}
</style>
<body style="font-family:Verdana;color:#aaaaaa;">
<div class="container-fluid">
	<div style="background-color:#e5e5e5;padding:15px;text-align:center;">
		<H1>Virtual Memory Simulator</H1>
	</div>
</div>

<div class="container">	
	<div class="row">
	<div class="col-sm-4"><br>
	<form action="{{ url_for('simulate') }}" method="POST">
	{{ form.hidden_tag() }}	
		<br><br><br>
		<table id="logmem">
		<tr><th>Logical Memory</th></tr>
		<tr><td rowspan="4">000</td><td>{{ form.block0a(size=15) }}</td></tr>
		<tr><td>{{ form.block0b(size=15) }}</td></tr>
		<tr><td>{{ form.block0c(size=15) }}</td></tr>
		<tr><td>{{ form.block0d(size=15) }}</td></tr>
		
		<tr><td rowspan="4">001</td><td>{{ form.block1a(size=15) }}</td></tr>
		<tr><td>{{ form.block1b(size=15) }}</td></tr>
		<tr><td>{{ form.block1c(size=15) }}</td></tr>
		<tr><td>{{ form.block1d(size=15) }}</td></tr>
		
		<tr><td rowspan="4">010</td><td>{{ form.block2a(size=15) }}</td></tr>
		<tr><td>{{ form.block2b(size=15) }}</td></tr>
		<tr><td>{{ form.block2c(size=15) }}</td></tr>
		<tr><td>{{ form.block2d(size=15) }}</td></tr>
		
		<tr><td rowspan="4">011</td><td>{{ form.block3a(size=15) }}</td></tr>
		<tr><td>{{ form.block3b(size=15) }}</td></tr>
		<tr><td>{{ form.block3c(size=15) }}</td></tr>
		<tr><td>{{ form.block3d(size=15) }}</td></tr>
		</table>
		</form>
	</div>


	<div class="col-sm-4"><br>
		Processed List:<br>
		{{ form.data }}<br>
		<br><input type="submit" value="Clear">
	<br><br><br>

	<table>
	<tr><th>TLB</th></tr>
	<tr><td>Page</td><td>Frame</td>
	<tr><td>{{ tlb[0] }}</td><td></td></tr>
	<tr><td>{{ tlb[1] }}</td><td></td></tr>
	</table><br>
	<br><br><br>
	<table>
		<tr><th>Page Table</th></tr>
		<tr><td></td><td>Frame</td><td>Validity</td></tr>
		<tr><td>000</td><td>{{ page_table[0] }}</td><td></td></tr>
		<tr><td>001</td><td>{{ page_table[1] }}</td><td></td></tr>
		<tr><td>010</td><td>{{ page_table[2] }}</td><td></td></tr>
		<tr><td>011</td><td>{{ page_table[3] }}</td><td></td></tr>
		<tr><td>100</td><td>{{ page_table[4] }}</td><td></td></tr>
		<tr><td>101</td><td>{{ page_table[5] }}</td><td></td></tr>
		<tr><td>110</td><td>{{ page_table[6] }}</td><td></td></tr>
		<tr><td>111</td><td>{{ page_table[7] }}</td><td></td></tr>
	</table><br>
	</div>
	
	<div class="col-sm-4"><br>
	
	<p>cache hits: {{ stats[0] }}<br> 
		cache misses: {{ stats[1] }}<br>
		<br>
		tlb hits: {{ stats[2] }}<br>
		tlb misses: {{ stats[3] }}<br>
		<br>
		page table hits: {{ stats[4] }}<br>
		page table misses: {{ stats[5] }}<br>
	</p>
	<br>
	<table>
		<tr><th>Cache</th></tr>
		<tr><td></td><td>Page</td></tr>
		<tr><td>000</td><td>{{ cache[0] }}</td></tr>
		<tr><td>001</td><td>{{ cache[1] }}</td></tr>
		<tr><td>010</td><td>{{ cache[2] }}</td></tr>
		<tr><td>011</td><td>{{ cache[3] }}</td></tr>
	</table><br>
	<br><br><br>
	<table>
		<tr><th>Main Memory</th></tr>
		<tr><td>Frame</td><td>Page</td></tr>
		<tr><td>000</td><td>{{ main_mem[0] }}</td></tr>
		<tr><td>001</td><td>{{ main_mem[1] }}</td></tr>
		<tr><td>010</td><td>{{ main_mem[2] }}</td></tr>
		<tr><td>011</td><td>{{ main_mem[3] }}</td></tr>
		<tr><td>100</td><td>{{ main_mem[4] }}</td></tr>
		<tr><td>101</td><td>{{ main_mem[5] }}</td></tr>
		<tr><td>110</td><td>{{ main_mem[6] }}</td></tr>
		<tr><td>111</td><td>{{ main_mem[7] }}</td></tr>
	</table><br>
	</div>
	</div>
</div>
<br>
<footer></footer>
</body>
{% endblock %}